<h2>Login</h2>

<form action="/login" method="POST">
  <input type="email" placeholder="email" name="email">
  <br>
  <input type="password" placeholder="password" name="password">
  <br>  
  <input type="submit" value="Login">
</form>