<p>Show user</p>
{{#if user}}
  <p>email: {{userProfile.email}}</p>
  <p>phone: {{userProfile.phone}}</p>
  <p>passwordHash: {{userProfile.passwordHash}}</p>
{{else}}
  <p>
    <a href="/login">Login to view profile</a>
  </p>
{{/if}}